<div class="fsk-content-area">

    <h1>Specificity Graph</h1>

    <!-- <p>Harry Roberts first suggested creating a Specificity Graph to get a better picture of your CSS.</p>
    <p>The Specificity Graph works by taking a look at your entire project’s CSS, and plotting the specificity of all of its selectors on a simple line graph. On the x axis we plot Location in Stylesheet and on the y axis we plot the specificity of that selector.</p>
    <p>In general the graph should progress from lower to higher with few spikes occurring at the end. Spikes that occur mid-graph could lead to maintainability issues since CSS that occurs afterwards needs to meet or exceed that level of specificity to override earlier CSS.</p> -->

    <div class="fsk-graph">
        <object data="assets/graph.svg" type="image/svg+xml">
          <!-- <img src="test.jpg" /> -->
        </object>
    </div>

    <h1>Dashboard</h1>

    <h3 class="fsk-stat-key">Date stylesheet was compiled: {{stats[0].publish | date : format : timezone}}</h3>
    <h3 class="fsk-stat-key">Stylesheet Size: {{stats[0].fileSize}}</h3>

    <ul class="fsk-dash-stats">
        <li class="fsk-dash-item fsk-dash-rules">
            <div class="fsk-stat-key">Number of rules: </div>
            <div class="fsk-stat-value">{{stats[0].ruleCount}}</div>
        </li>
        <li class="fsk-dash-item fsk-dash-selector">
            <div class="fsk-stat-key">Number of selectors: </div>
            <div class="fsk-stat-value">{{stats[0].selectorCount}}</div>
        </li>
        <li class="fsk-dash-item fsk-dash-selector">
            <div class="fsk-stat-key">Number of declorations: </div>
            <div class="fsk-stat-value">{{stats[0].declorationCount}}</div>
        </li>
        <li class="fsk-dash-item fsk-dash-selector">
            <div class="fsk-stat-key">Number of Media Queries: </div>
            <div class="fsk-stat-value">{{stats[0].mediaQuerieCount}}</div>
        </li>
        <li class="fsk-dash-item fsk-dash-simplicity">
            <div class="fsk-stat-key">Level of simplicity: </div>
            <div class="fsk-stat-value">{{(stats[0].ruleCount /  stats[0].selectorCount) * 100 | number:2 }}%</div>
        </li>
    </ul>



    <!-- <div id="specificity"></div>

    <ul class="fsk-dash-body">
        <li class="fsk-dash-item">
            <div class="fsk-stat-key">Most identifier: </div>
            <div class="fsk-stat-value">{{stats.mostIdentifier}}</div>
        </li>
                <li class="fsk-dash-item">
            <div class="fsk-stat-key">Most identifier selector: </div>
            <div class="fsk-stat-value">{{stats.mostIdentifierSelector}}</div>
        </li>
        <li class="fsk-dash-item">
            <div class="fsk-stat-key">Lowest Cohesion: </div>
            <div class="fsk-stat-value">{{stats.lowestCohesion}}</div>
        </li>
        <li class="fsk-dash-item">
            <div class="fsk-stat-key">Lowest Cohesion selectors: </div>
            <div class="fsk-stat-value">
                <ul class="fsk-dash-sub-list">
                    <li class="fsk-dash-sub-item" ng-repeat="lowest in stats.lowestCohesionSelector">{{lowest}}</li>
                </ul>
            </div>
        </li>
    </ul> -->

</div>

