<div class="msg-header">
    <input id="searchText" class="msg-search" type="text" ng-model="searched.val" search-input/>
    <div class="msg-header-title">{{msg[0].client}} Styleguide</div>
    <div class="msg-search-icon">
        <div svg-icon icon="search"></div>
    </div>
    <div class="msg-clear-icon msg-clear">
        <div svg-icon icon="close"></div>
    </div>
</div>
<ul class="msg-menu">
    <li class="msg-menu-item">
        <a href="#/" ng-class="{ active: isActive('/') }">
            <span class="msg-name">Guidelines</span>
            <span class="msg-ref">A</span>
        </a>
    </li>
    <li class="msg-menu-item">
        <a href="#/dashboard" ng-class="{ active: isActive('/dashboard') }">
            <span class="msg-name">Dashboard - βeta</span>
            <span class="msg-ref">B</span>
        </a>
    </li>
    <li class="msg-menu-item">
        <a href="#/changelog" ng-class="{ active: isActive('/changelog') }">
            <span class="msg-name">Change Log</span>
            <span class="msg-ref">C</span>
        </a>
    </li>
    <li class="msg-menu-item" ng-repeat="navi in msg | filter: isOneDeep">
        <a href="#/{{navi.group}}" ng-class="{ active: isActive('/{{navi.group}}') }">
            <span class="msg-name">{{navi.title}}</span>
            <span class="msg-ref">{{navi.order}}</span>
        </a>
    </li>
</ul>
