<ul class="fsk-menu">
    <li class="fsk-menu-item">
        <a href="#/" ng-class="{ active: isActive('/') }" fsk-ripple>
            <span class="fsk-name">Guidelines</span>
            <span class="fsk-ref">A</span>
        </a>
    </li>
    <li class="fsk-menu-item">
        <a href="#/dashboard" ng-class="{ active: isActive('/dashboard') }" fsk-ripple>
            <span class="fsk-name">Dashboard - βeta</span>
            <span class="fsk-ref">B</span>
        </a>
    </li>
    <li class="fsk-menu-item">
        <a href="#/changelog" ng-class="{ active: isActive('/changelog') }" fsk-ripple>
            <span class="fsk-name">Change Log</span>
            <span class="fsk-ref">C</span>
        </a>
    </li>
    <li class="fsk-menu-item" ng-repeat="navi in fsk | filter: isOneDeep">
        <a href="#/{{navi.group}}" ng-class="{ active: isActive('/{{navi.group}}') }" fsk-ripple>
            <span class="fsk-name">{{navi.title}}</span>
            <span class="fsk-ref">{{navi.order}}</span>
        </a>
    </li>
</ul>