<div class="fsk-sticky-header" ng-repeat="sec in fsk | filter:categoryGroup( ) " ng-if="sec.reference === '0'" sticky-header>
    <div class="fsk-sticky-header-wrap theme-main-color">
        <span class="fsk-title-number">{{sec.group}}</span>
        <span class="fsk-title-text">{{ sec.title}}</span>
        <div class="fsk-sticky-header-top" ng-click="toTheTop()">
            <div class="fsk-top-icon">
                <div svg-icon icon="top"></div>
            </div>
        </div>
    </div>
</div>

<div class="fsk-content-area">
    <div class="fsk-component-block" ng-repeat="sec in fsk | filter:categoryGroup( ) " id="{{ sec.title | flatten}}">
        <fsk-component  data-tags="{{sec.tags | cleaned}}"></fsk-component>
    </div>
</div>
