.msg-changlog {
    margin: 0;
    padding: 0;
    list-style: none;
    }
.msg-changlog_item {
    margin-bottom: 2em;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
    }
.msg .msg-changlog_version {
    display: block;
    font-size: 2em;
    }
.msg-changlelog_number {
    color: var(--main-color);
    }
.msg-changelog_comment {
    font-size: 14px;
    }
.msg-changelog_date {
    position: absolute;
    top: 1em;
    right: 1em;
    }