.msg-container {
    width: 100vw;
    max-width: 100%;
    height: 100vh;

    background-color: #ededed;
}

.msg-nav,
.msg-subnav {
    position: fixed;
    top: 0;

    overflow-y: auto;

    width: 16%;
    height: 100vh;
    margin: 0;

    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.4);
}

.msg-nav {
    z-index: 10;
    left: 0;

    background-color: #171d25;
}

.msg-nav-footer {
    font-size: 0.7vw;

    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 0.5em 0;

    text-align: center;
    text-transform: uppercase;

    background-color: #171d25;
}

.msg-nav-footer a {
    color: color(var(--main-color) shade(30%));
    font-size: 0.7vw;
}

.msg-subnav {
    z-index: 9;
    left: 16%;

    box-sizing: border-box;

    background-color: #1d242e;
}

.content-animate {
    position: relative;
    z-index: 8;
    left: 16%;

    width: 84%;
    height: 100vh;
}

.search .content-animate,
.section .content-animate,
.component .content-animate {
    left: 32%;

    width: 68%;
}

.msg-content-area {
    padding: 2em;
}
